<%- include (`./templates/_header`) %>

    <div id="about">
        <div id="description">
            <h2>What is this about?</h2>
            <div id="info">This webpage is our final project of Web Development. <br>
                Class period: January 2022 <br><br>
                The purpose of this web page is to provide a small database for IoT users, where they can create an account and register 
                the devices that they possess and have connected in their environment.<br><br>
                <img src = "description.png"  alt = "IoT">
            </div>

        </div>

        <div id="team">
            <h3>The Team</h3>
            <div class="member"> André Marcel Gutiérrez Benitez	<br> A01275232 <br><br>
                David Flores Díaz <br> A01209414 <br><br>
                Sarai Obregón Rodríguez <br> A01704432 <br><br>
            </div>        
        </div>
    </div>

<!--This is the 'ABOUT US PAGE'
    <form action="/" method="GET"><button>ROOT</button></form>
    <form action="/user/test" method="GET"><button>USER HOME</button></form> -->
<%- include (`./templates/_footer`) %>