<%- include (`./templates/_header`) %>
    
        
    <div class="center">
        <h1>Contact Us</h1>
      </div>
      <div class="mui-divider"></div>

      <div class="mui-container-fluid" id="social">
      <div><i class="material-icons" style="font-size:48px;color:#02459C">add_location</i><p>Torres I Adalid #6</p><p>Zempoala Hidalgo</p></div>
      <div><i class="material-icons" style="font-size:48px;color:#02459C">call</i><p>Telephone</p><p>7711627872</p><p>4421095268</p></div>  
      <div><i class="material-icons" style="font-size:48px;color:#02459C">email</i><p>thefinalproject@projec.com</p></div>
      <div><i class="material-icons" style="font-size:144px;color:#02459C">memory</i></div>
      </div>
      <br>
      <div class="mui-divider"></div>


      <div class="mui-container-fluid" id="social">
       <div><a class="fa fa-facebook"></a></div>
       <div><a href="#" class="fa fa-twitter"></a></div>
       <div><a href="#" class="fa fa-instagram"></a></div>
      </div>

<%- include (`./templates/_footer`) %>