
<%- include (`./templates/_header`) %> 

This is the 'COPYRIGHT PAGE' 
   <form action="/" method="GET"><button>ROOT</button></form>
   <form action="/user/test" method="GET"><button>USER HOME</button></form>
<%- include (`./templates/_footer`) %> 