<%- include (`./templates/_header`) %>
This is the HOME PAGE 
    <form action="/login" method="GET"><button>LOGIN</button></form>
    <form action="/copyright" method="GET"><button>COPYRIGHT</button></form>
    <form action="/about_us" method="GET"><button>ABOUT US</button></form> 
    <form action="/contact" method="GET"><button>CONTACT</button></form>
<%- include (`./templates/_footer`) %>