<%- include (`./templates/_header`) %>
This is the LOGIN PAGE 
    <form action="/" method="GET"><button>ROOT</button></form> 
    <form action="/register" method="GET"><button>REGISTER</button></form>
    <form action="/user/test" method="GET"><button>LOGIN TEST</button></form>
<%- include (`./templates/_footer`) %>