<%- include (`./templates/_header`) %>
This is the REGISTER PAGE 
    <form action="/user/test" method="GET"><button>REGISTER TEST</button></form>
    <form action="/" method="GET"><button>ROOT</button></form>
<%- include (`./templates/_footer`) %>