<%- include (`./templates/_header`) %>
<div>
    INSERT USER INFO HERE
    <div>
        <a  href="/<%=user%>/devices"><button class="mui-btn mui-btn--primary">User Devices</button></a>
    </div>
</div>
<%- include (`./templates/_footer`) %>