body{
    background-color: #FFFFFF;
}

.navbar{
    display:inline-block;
    align-content: flex-start;
}

.mui-panel{
    background-color:#333333;
}

.left{
    display:flex;
    justify-content:flex-end;
    
}

#travel{
    margin-left:10px;
    margin-right:5px;
}


#news{
    display:flex;
    align-content:flex-start;
    margin:25px;
    text-align: center;
}

#twi, #mega{
    display:inline-block;
    text-align: center;
    align-content:flex-start;
}

#home{
    margin-right: 5px;
}

h1{
    color: #2B86EE;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
}

.center{
    text-align: center;
}

p{
    color: #878787;
}

img { 
    max-width: 100%; 
}

.fa {
    height:50px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    padding:10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

.newsBox {
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: #fff;
    padding: 25px;
}

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 2.5rem;
}

#social{
    display:flex;
    justify-content:space-around;
    margin:25px;
    text-align: center;
}


#description {
    float:left;
    width:60%;
    background-color: #02459C;
    color:#FFFFFF;
    padding-top: 30px;
}

#team {
    float:right;
    width:40%;
    background-color:#FFFFFF;
    border: 10px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:70px;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:70px;
    color:#333333;
}

#info {
    text-align: center;
    font-size: large;
    padding: 50px;
    line-height: 40px;
}

.member {
    text-align: left;
    font-size: large;
    padding: 50px;
    line-height: 40px;
    color:#333333;
}

.shorty {
    font-size: 30px;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px*/

  @media (min-width: 768px) and (max-width: 1024px)  {
    .left{
        display: flex;
        justify-content:space-between;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .left{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #twi, #mega{
        display:inline-block;
        flex-direction: column;
        text-align: center;
    }
    #news{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    #social{
        display:flex;
        display:run-in;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    #description {
        width: 100%;
        background-color: #02459C;
        color:#FFFFFF;
        padding-top: 30px;
    }
    
    #team {
        width: 100%;
        background-color:#FFFFFF;
        border: 10px;
    }
}

@media (max-width: 480px){
    .left{
        flex-direction: column;
        text-align: center;
    }
    #twi, #mega{
        display:inline-block;
        flex-direction: column;
        text-align: center;
    }
    #news{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    #social{
        display:flex;
        flex-direction: column;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    #description {
        width: 100%;
        background-color: #02459C;
        color:#FFFFFF;
        padding-top: 30px;
    }
    
    #team {
        width: 100%;
        background-color:#FFFFFF;
        border: 10px;
    }
}
